footer{
  font-size: 0.8em;
  background-color: #ffffff;
  color: #111111;
  padding:20px 0;
  #footer-menu>ul{
    margin:0;
    padding:0;
    list-style:none;
    display:block;
    text-align:center;
    min-width:300px;
    over-flow:hidden;
    li{
      display:block;
      position:relative;
      display:inline-block;
      position:relative;
      a{
        color: $red-color;
        &:hover{
          color: darken($red-color, 20);
          text-decoration:none;
        }
      }
      & + li{
        padding-left:5px;
        margin-left:5px;
        &:before{
          content: ' ';
          display:block;
          width:4px;
          height:4px;
          border-radius: 2px;
          background-color: $red-color;
          position:absolute;
          top:0.6em;
          left: -4px;
        }
      }
    }
  }
  .reserve-text{
    text-align:center;
    padding-top:10px;
  }
}
@media screen and (min-width: $small-width) {
  footer{
    font-size: 1em;
    #footer-menu>ul{
      float:left;
      li{
        &+li{
          padding-left: 15px;
          margin-left:15px;
        }
      }
    }
    .reserve-text{
      padding-top:0;
      text-align:right;
    }
  }
}
