header{
  padding: 20px 0;
  @media screen and (min-width: $menu-width) {
    height: auto;
  }
  .logo{
    display:block;
    float:left;
    background-image: url('../imgs/masterpage/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 63px;
    height: 40px;
    @media screen and (min-width: $menu-width) {
      width: 86px;
      height: 55px;
    }
  }
  #showMenu{
    display:block;
    float:right;
    width:40px;
    height:40px;
    border: 0;
    border-radius:20px;
    outline: none;
    background-color: #ffffff;
    transition: all ease-out 0.2s;
    @media screen and (min-width: $menu-width) {
      display:none;
    }
    .icon-bar{
      display:block;
      margin:5px auto;
      width:80%;
      height:3px;
      border-radius: 2px;
      background-color: #000000;
      transition: all ease-out 0.2s;
    }
    &:hover{
      .icon-bar{
        background-color: darken($red-color, 20);
      }
    }
    &.active{
      background-color: $red-color;
      .icon-bar{
        background-color: #ffffff;
      }
    }
  }
  nav{
    display:block;
    clear:both;
    position:relative;
    top:0;
    left:0;
    margin-top:13px;
    overflow-y:hidden;
    height:1px;
    transition: all ease-in 1s;
    @media screen and (min-width: $menu-width) {
      clear:none;
      height:auto;
      overflow-y:visible;
    }
    &:after{
      content: ' ';
      display:block;
      clear:both;
    }
    &.showmenu{
      height:auto;
    }
    ul{
      list-style: none;
      margin:0;
      padding: 5px 0;
      display:block;
      border-top: 1px solid $red-color;
      @media screen and (min-width: $menu-width) {
        border-top: none;
        padding:0;
      }
      li{
        position:relative;
        text-align:center;
        a{
          color: #111111;
          padding:5px 10px;
          display:block;
          border-radius: 5px;
          &.btn-red{
            width:100%;
            margin-top:10px;
            @media screen and (min-width: $menu-width) {
              width:auto;
              margin-top:0;
            }
            &:hover, &:focus{
              color: #ffffff;
              background-color: darken($red-color, 20);
              text-decoration:none;
            }
          }
          @media screen and (min-width: $menu-width) {
            padding: 0;
            display:inline-block;
            .hide-text{
              display:none;
            }
          }
          &:hover, &:focus{
            color: $red-color;
            background-color: darken(#ffffff, 5);
            text-decoration:none;
            @media screen and (min-width: $menu-width) {
              background-color: #ffffff;
            }
          }
          &.active{
            color: #ffffff;
            background-color: $red-color;
          }
        }
      }
    }
  }
  #main-menu{
    margin-top:20px;
    @media screen and (min-width: $menu-width) {
      float:none;
      display: block;
      margin-top: 10px;
      margin-left: 90px;
      margin-right: 250px;
      text-align: center;
    }
  }
}
@media screen and (min-width: $menu-width) {
  header{
    #main-menu{
      li{
        display:inline-block;
        position:relative;
        a{
          color: #111111;
          margin:0 15px;
          font-size: 1.4em;
          &:hover{
            color: $red-color;
            text-decoration:none;
          }
        }
      }
    }
    #user-menu{
      float:right;
      position:absolute;
      top:-7px;
      right:0;
      li{
        display:inline-block;
        position:relative;
        &+li{
          margin-left:40px;
        }
      }
    }
  }
}
