#section-home{
  display: table;
  background-image: url('../imgs/home/home_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center center;
  color: #eeeeee;
  text-align:center;
  width:100%;
  .content-middle{
    vertical-align:middle;
    display: table-cell;
  }
  h1{
    color: $red-color;
    font-size:1.8em;
    @media screen and (min-width: $small-width) {
      font-size:3em;
    }
  }
}
