body, html{
  font-family: 'Prompt', sans-serif;
  height:100%;
  display:block;
}
.btn-red{
  display:inline-block;
  text-align:center;
  background-color: $red-color;
  color: #ffffff;
  padding:5px 10px;
  min-width:120px;
  border-radius: 5px;
  transition: all ease-in 0.2s;
  @media screen and (min-width: $small-width) {
    padding:8px 15px;
    font-size:1.2em;
  }
  &:hover, &:focus{
    color: #ffffff;
    background-color: darken($red-color, 20);
    text-decoration:none;
  }
}
.pt-md{
  padding-top:10px;
}
.pt-lg{
  padding-top:20px;
}
.search-text-group{
  width: 100%;
  max-width: 460px;
  margin: auto;
  position: relative;
  input {
    color: $red-color;
    width: 100%;
    border:none;
    outline: none;
    border-radius: 5px;
    padding: 0 10px;
    padding-right: 40px;
    line-height:2.6em;
    font-size:1em;
    min-height:30px;
  }
  .btn-search{
    float: right;
    position: absolute;
    top:0;
    right: 0;
    border: 0;
    width: 40px;
    height:36px;
    text-align: center;
    background-color: transparent;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
  }
}
