/* Add here all your CSS customizations */
body {
	font-family: "Open Sans", "Kanit", Arial, sans-serif;
}
ul.nav-main > li.nav-active > a {
    box-shadow: 5px 0 0 #0088cc inset;
}
.input-daterange .input-group-addon.first-input-group {
  border-left-width: 1px;
}
.dragged {
  position: absolute;
  top: 0;
  opacity: 0.5;
  z-index: 2000;
}
