header {
  padding: 20px 0; }
  @media screen and (min-width: 992px) {
    header {
      height: auto; } }
  header .logo {
    display: block;
    float: left;
    background-image: url("../imgs/masterpage/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 63px;
    height: 40px; }
    @media screen and (min-width: 992px) {
      header .logo {
        width: 86px;
        height: 55px; } }
  header #showMenu {
    display: block;
    float: right;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 20px;
    outline: none;
    background-color: #ffffff;
    transition: all ease-out 0.2s; }
    @media screen and (min-width: 992px) {
      header #showMenu {
        display: none; } }
    header #showMenu .icon-bar {
      display: block;
      margin: 5px auto;
      width: 80%;
      height: 3px;
      border-radius: 2px;
      background-color: #000000;
      transition: all ease-out 0.2s; }
    header #showMenu:hover .icon-bar {
      background-color: #c80027; }
    header #showMenu.active {
      background-color: #ff2f58; }
      header #showMenu.active .icon-bar {
        background-color: #ffffff; }
  header nav {
    display: block;
    clear: both;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 13px;
    overflow-y: hidden;
    height: 1px;
    transition: all ease-in 1s; }
    @media screen and (min-width: 992px) {
      header nav {
        clear: none;
        height: auto;
        overflow-y: visible; } }
    header nav:after {
      content: ' ';
      display: block;
      clear: both; }
    header nav.showmenu {
      height: auto; }
    header nav ul {
      list-style: none;
      margin: 0;
      padding: 5px 0;
      display: block;
      border-top: 1px solid #ff2f58; }
      @media screen and (min-width: 992px) {
        header nav ul {
          border-top: none;
          padding: 0; } }
      header nav ul li {
        position: relative;
        text-align: center; }
        header nav ul li a {
          color: #111111;
          padding: 5px 10px;
          display: block;
          border-radius: 5px; }
          header nav ul li a.btn-red {
            width: 100%;
            margin-top: 10px; }
            @media screen and (min-width: 992px) {
              header nav ul li a.btn-red {
                width: auto;
                margin-top: 0; } }
            header nav ul li a.btn-red:hover, header nav ul li a.btn-red:focus {
              color: #ffffff;
              background-color: #c80027;
              text-decoration: none; }
          @media screen and (min-width: 992px) {
            header nav ul li a {
              padding: 0;
              display: inline-block; }
              header nav ul li a .hide-text {
                display: none; } }
          header nav ul li a:hover, header nav ul li a:focus {
            color: #ff2f58;
            background-color: #f2f2f2;
            text-decoration: none; }
            @media screen and (min-width: 992px) {
              header nav ul li a:hover, header nav ul li a:focus {
                background-color: #ffffff; } }
          header nav ul li a.active {
            color: #ffffff;
            background-color: #ff2f58; }
  header #main-menu {
    margin-top: 20px; }
    @media screen and (min-width: 992px) {
      header #main-menu {
        float: none;
        display: block;
        margin-top: 10px;
        margin-left: 90px;
        margin-right: 250px;
        text-align: center; } }

@media screen and (min-width: 992px) {
  header #main-menu li {
    display: inline-block;
    position: relative; }
    header #main-menu li a {
      color: #111111;
      margin: 0 15px;
      font-size: 1.4em; }
      header #main-menu li a:hover {
        color: #ff2f58;
        text-decoration: none; }
  header #user-menu {
    float: right;
    position: absolute;
    top: -7px;
    right: 0; }
    header #user-menu li {
      display: inline-block;
      position: relative; }
      header #user-menu li + li {
        margin-left: 40px; } }
footer {
  font-size: 0.8em;
  background-color: #ffffff;
  color: #111111;
  padding: 20px 0; }
  footer #footer-menu > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    min-width: 300px;
    over-flow: hidden; }
    footer #footer-menu > ul li {
      display: block;
      position: relative;
      display: inline-block;
      position: relative; }
      footer #footer-menu > ul li a {
        color: #ff2f58; }
        footer #footer-menu > ul li a:hover {
          color: #c80027;
          text-decoration: none; }
      footer #footer-menu > ul li + li {
        padding-left: 5px;
        margin-left: 5px; }
        footer #footer-menu > ul li + li:before {
          content: ' ';
          display: block;
          width: 4px;
          height: 4px;
          border-radius: 2px;
          background-color: #ff2f58;
          position: absolute;
          top: 0.6em;
          left: -4px; }
  footer .reserve-text {
    text-align: center;
    padding-top: 10px; }

@media screen and (min-width: 768px) {
  footer {
    font-size: 1em; }
    footer #footer-menu > ul {
      float: left; }
      footer #footer-menu > ul li + li {
        padding-left: 15px;
        margin-left: 15px; }
    footer .reserve-text {
      padding-top: 0;
      text-align: right; } }
body, html {
  font-family: 'Prompt', sans-serif;
  height: 100%;
  display: block; }

.btn-red {
  display: inline-block;
  text-align: center;
  background-color: #ff2f58;
  color: #ffffff;
  padding: 5px 10px;
  min-width: 120px;
  border-radius: 5px;
  transition: all ease-in 0.2s; }
  @media screen and (min-width: 768px) {
    .btn-red {
      padding: 8px 15px;
      font-size: 1.2em; } }
  .btn-red:hover, .btn-red:focus {
    color: #ffffff;
    background-color: #c80027;
    text-decoration: none; }

.pt-md {
  padding-top: 10px; }

.pt-lg {
  padding-top: 20px; }

.search-text-group {
  width: 100%;
  max-width: 460px;
  margin: auto;
  position: relative; }
  .search-text-group input {
    color: #ff2f58;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0 10px;
    padding-right: 40px;
    line-height: 2.6em;
    font-size: 1em;
    min-height: 30px; }
  .search-text-group .btn-search {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: transparent;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease; }

#section-home {
  display: table;
  background-image: url("../imgs/home/home_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #eeeeee;
  text-align: center;
  width: 100%; }
  #section-home .content-middle {
    vertical-align: middle;
    display: table-cell; }
  #section-home h1 {
    color: #ff2f58;
    font-size: 1.8em; }
    @media screen and (min-width: 768px) {
      #section-home h1 {
        font-size: 3em; } }

/*# sourceMappingURL=style.css.map */
