/* Add here all your CSS customizations */
/* Add here all your CSS customizations */
body {
	font-family: "Open Sans", "Kanit", Arial, sans-serif;
	font-size:15px;
}
ul.nav-main > li.nav-active > a {
    box-shadow: 5px 0 0 #0088cc inset;
}
ul.nav-main li a {
	font-size: 1.5rem;
}